# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
avidaSpatialTools.py~
*~
.Rproj.user
dev/patch_0.png
dev/patch_100.png
dev/patch_101.png
dev/patch_102.png
dev/patch_103.png
dev/patch_104.png
dev/patch_105.png
dev/patch_106.png
dev/patch_107.png
dev/patch_108.png
dev/patch_109.png
dev/patch_10.png
dev/patch_110.png
dev/patch_111.png
dev/patch_112.png
dev/patch_113.png
dev/patch_114.png
dev/patch_115.png
dev/patch_116.png
dev/patch_117.png
dev/patch_118.png
dev/patch_119.png
dev/patch_11.png
dev/patch_120.png
dev/patch_121.png
dev/patch_122.png
dev/patch_123.png
dev/patch_124.png
dev/patch_125.png
dev/patch_126.png
dev/patch_127.png
dev/patch_128.png
dev/patch_129.png
dev/patch_12.png
dev/patch_130.png
dev/patch_131.png
dev/patch_132.png
dev/patch_133.png
dev/patch_134.png
dev/patch_135.png
dev/patch_136.png
dev/patch_137.png
dev/patch_138.png
dev/patch_139.png
dev/patch_13.png
dev/patch_140.png
dev/patch_141.png
dev/patch_142.png
dev/patch_143.png
dev/patch_144.png
dev/patch_145.png
dev/patch_146.png
dev/patch_147.png
dev/patch_148.png
dev/patch_149.png
dev/patch_14.png
dev/patch_150.png
dev/patch_151.png
dev/patch_152.png
dev/patch_153.png
dev/patch_154.png
dev/patch_155.png
dev/patch_156.png
dev/patch_157.png
dev/patch_158.png
dev/patch_159.png
dev/patch_15.png
dev/patch_160.png
dev/patch_161.png
dev/patch_162.png
dev/patch_163.png
dev/patch_164.png
dev/patch_165.png
dev/patch_166.png
dev/patch_167.png
dev/patch_168.png
dev/patch_169.png
dev/patch_16.png
dev/patch_170.png
dev/patch_171.png
dev/patch_172.png
dev/patch_173.png
dev/patch_174.png
dev/patch_175.png
dev/patch_176.png
dev/patch_177.png
dev/patch_178.png
dev/patch_179.png
dev/patch_17.png
dev/patch_180.png
dev/patch_181.png
dev/patch_182.png
dev/patch_183.png
dev/patch_184.png
dev/patch_185.png
dev/patch_186.png
dev/patch_187.png
dev/patch_188.png
dev/patch_189.png
dev/patch_18.png
dev/patch_190.png
dev/patch_191.png
dev/patch_192.png
dev/patch_193.png
dev/patch_194.png
dev/patch_195.png
dev/patch_196.png
dev/patch_197.png
dev/patch_198.png
dev/patch_199.png
dev/patch_19.png
dev/patch_1.png
dev/patch_200.png
dev/patch_201.png
dev/patch_202.png
dev/patch_203.png
dev/patch_204.png
dev/patch_205.png
dev/patch_206.png
dev/patch_207.png
dev/patch_208.png
dev/patch_209.png
dev/patch_20.png
dev/patch_210.png
dev/patch_211.png
dev/patch_212.png
dev/patch_213.png
dev/patch_214.png
dev/patch_215.png
dev/patch_216.png
dev/patch_217.png
dev/patch_218.png
dev/patch_219.png
dev/patch_21.png
dev/patch_220.png
dev/patch_221.png
dev/patch_222.png
dev/patch_223.png
dev/patch_224.png
dev/patch_225.png
dev/patch_226.png
dev/patch_227.png
dev/patch_228.png
dev/patch_229.png
dev/patch_22.png
dev/patch_230.png
dev/patch_231.png
dev/patch_232.png
dev/patch_233.png
dev/patch_234.png
dev/patch_235.png
dev/patch_236.png
dev/patch_237.png
dev/patch_23.png
dev/patch_24.png
dev/patch_25.png
dev/patch_26.png
dev/patch_27.png
dev/patch_28.png
dev/patch_29.png
dev/patch_2.png
dev/patch_30.png
dev/patch_31.png
dev/patch_32.png
dev/patch_33.png
dev/patch_34.png
dev/patch_35.png
dev/patch_36.png
dev/patch_37.png
dev/patch_38.png
dev/patch_39.png
dev/patch_3.png
dev/patch_40.png
dev/patch_41.png
dev/patch_42.png
dev/patch_43.png
dev/patch_44.png
dev/patch_45.png
dev/patch_46.png
dev/patch_47.png
dev/patch_48.png
dev/patch_49.png
dev/patch_4.png
dev/patch_50.png
dev/patch_51.png
dev/patch_52.png
dev/patch_53.png
dev/patch_54.png
dev/patch_55.png
dev/patch_56.png
dev/patch_57.png
dev/patch_58.png
dev/patch_59.png
dev/patch_5.png
dev/patch_60.png
dev/patch_61.png
dev/patch_62.png
dev/patch_63.png
dev/patch_64.png
dev/patch_65.png
dev/patch_66.png
dev/patch_67.png
dev/patch_68.png
dev/patch_69.png
dev/patch_6.png
dev/patch_70.png
dev/patch_71.png
dev/patch_72.png
dev/patch_73.png
dev/patch_74.png
dev/patch_75.png
dev/patch_76.png
dev/patch_77.png
dev/patch_78.png
dev/patch_79.png
dev/patch_7.png
dev/patch_80.png
dev/patch_81.png
dev/patch_82.png
dev/patch_83.png
dev/patch_84.png
dev/patch_85.png
dev/patch_86.png
dev/patch_87.png
dev/patch_88.png
dev/patch_89.png
dev/patch_8.png
dev/patch_90.png
dev/patch_91.png
dev/patch_92.png
dev/patch_93.png
dev/patch_94.png
dev/patch_95.png
dev/patch_96.png
dev/patch_97.png
dev/patch_98.png
dev/patch_99.png
dev/patch_9.png
dev/*cells
dev/cells_0
dev/cells_1
dev/cells_10
dev/cells_100
dev/cells_101
dev/cells_102
dev/cells_103
dev/cells_104
dev/cells_105
dev/cells_106
dev/cells_107
dev/cells_108
dev/cells_109
dev/cells_11
dev/cells_110
dev/cells_111
dev/cells_112
dev/cells_113
dev/cells_114
dev/cells_115
dev/cells_116
dev/cells_117
dev/cells_118
dev/cells_119
dev/cells_12
dev/cells_120
dev/cells_121
dev/cells_122
dev/cells_123
dev/cells_124
dev/cells_125
dev/cells_126
dev/cells_127
dev/cells_128
dev/cells_129
dev/cells_13
dev/cells_130
dev/cells_131
dev/cells_132
dev/cells_133
dev/cells_134
dev/cells_135
dev/cells_136
dev/cells_137
dev/cells_138
dev/cells_139
dev/cells_14
dev/cells_140
dev/cells_141
dev/cells_142
dev/cells_143
dev/cells_144
dev/cells_145
dev/cells_146
dev/cells_147
dev/cells_148
dev/cells_149
dev/cells_15
dev/cells_150
dev/cells_151
dev/cells_152
dev/cells_153
dev/cells_154
dev/cells_155
dev/cells_156
dev/cells_157
dev/cells_158
dev/cells_159
dev/cells_16
dev/cells_160
dev/cells_161
dev/cells_162
dev/cells_163
dev/cells_164
dev/cells_165
dev/cells_166
dev/cells_167
dev/cells_168
dev/cells_169
dev/cells_17
dev/cells_170
dev/cells_171
dev/cells_172
dev/cells_173
dev/cells_174
dev/cells_175
dev/cells_176
dev/cells_177
dev/cells_178
dev/cells_179
dev/cells_18
dev/cells_180
dev/cells_181
dev/cells_182
dev/cells_183
dev/cells_184
dev/cells_185
dev/cells_186
dev/cells_187
dev/cells_188
dev/cells_189
dev/cells_19
dev/cells_190
dev/cells_191
dev/cells_192
dev/cells_193
dev/cells_194
dev/cells_195
dev/cells_196
dev/cells_197
dev/cells_198
dev/cells_199
dev/cells_2
dev/cells_20
dev/cells_200
dev/cells_201
dev/cells_202
dev/cells_203
dev/cells_204
dev/cells_205
dev/cells_206
dev/cells_207
dev/cells_208
dev/cells_209
dev/cells_21
dev/cells_210
dev/cells_211
dev/cells_212
dev/cells_213
dev/cells_214
dev/cells_215
dev/cells_216
dev/cells_217
dev/cells_218
dev/cells_219
dev/cells_22
dev/cells_220
dev/cells_221
dev/cells_222
dev/cells_223
dev/cells_224
dev/cells_225
dev/cells_226
dev/cells_227
dev/cells_228
dev/cells_229
dev/cells_23
dev/cells_230
dev/cells_231
dev/cells_232
dev/cells_233
dev/cells_234
dev/cells_235
dev/cells_236
dev/cells_237
dev/cells_24
dev/cells_25
dev/cells_26
dev/cells_27
dev/cells_28
dev/cells_29
dev/cells_3
dev/cells_30
dev/cells_31
dev/cells_32
dev/cells_33
dev/cells_34
dev/cells_35
dev/cells_36
dev/cells_37
dev/cells_38
dev/cells_39
dev/cells_4
dev/cells_40
dev/cells_41
dev/cells_42
dev/cells_43
dev/cells_44
dev/cells_45
dev/cells_46
dev/cells_47
dev/cells_48
dev/cells_49
dev/cells_5
dev/cells_50
dev/cells_51
dev/cells_52
dev/cells_53
dev/cells_54
dev/cells_55
dev/cells_56
dev/cells_57
dev/cells_58
dev/cells_59
dev/cells_6
dev/cells_60
dev/cells_61
dev/cells_62
dev/cells_63
dev/cells_64
dev/cells_65
dev/cells_66
dev/cells_67
dev/cells_68
dev/cells_69
dev/cells_7
dev/cells_70
dev/cells_71
dev/cells_72
dev/cells_73
dev/cells_74
dev/cells_75
dev/cells_76
dev/cells_77
dev/cells_78
dev/cells_79
dev/cells_8
dev/cells_80
dev/cells_81
dev/cells_82
dev/cells_83
dev/cells_84
dev/cells_85
dev/cells_86
dev/cells_87
dev/cells_88
dev/cells_89
dev/cells_9
dev/cells_90
dev/cells_91
dev/cells_92
dev/cells_93
dev/cells_94
dev/cells_95
dev/cells_96
dev/cells_97
dev/cells_98
dev/cells_99
colorpercentages2.png
colorpercentages.png
niches_test_env.png
n_tasks.png
optimal_phenotypes_example_environment_heat_map.png
optimal.png
phenotype_niches_11097.png
phenotype_niches_circlesconservation-9patches_10each-environment.png
phenotype_niches_circlesexample_environment.png
phenotype_niches_circlesexample_env.png
phenotype_niches_conservation-9patches_10each_environment.png
phenotype_niches_conservation-9patches_10each_env.png
phenotype_niches_example_environment2.png
phenotype_niches_example_environment.png
phenotype_niches_example_env.png
phenotype_niches_example_.png
species_cluster_grid.png
speciesgrid.png
species_hue_grid.png
test3.png
test.png
visualize_environment.png
example_environment_phenotype_overlay.mov
example_env_phenotype_overlay.mov
movie.mov
toroidal_dist_matrix.csv
*.prof
*.dat
*.csv
*.png
